* {
  color: white;
}
h1{
	 font-size: 100%;
  	font-weight: normal;
  	margin: 0;
  	padding: 0;
    align-content: center;
  }

h2 {
    font-size: 80%;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }

div.center {
    text-align: center;
    align-content: center;
}

html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.button {
  background-color: transparent;
  border-color: transparent;
}

.table {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}

.table th, .table td { 
     border-top: none !important; 
 }

 a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.listing {
  background-color: dimgray;
  padding: 30px;
}
