<!DOCTYPE html>
<html>
//Head
	<head>
  		<meta charset="UTF-8">
    	<title>Movie and TV Show random generator</title>
    	<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
    	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
//Body
	<body bgcolor="black">
		<div>
//Text
			<div class="center" style="text-align: center; color: white">
				   <p> Let us help you find something to watch! </p>
			</div>
//Footer
			<div>
				<footer style="text-align:center; color: white">
					<p>
						<a href="/" style="text-decoration:none">Home</a>
					</p>
				</footer>
			</div>
//End of Footer
		</div>
	</body>
//End of Body
</html>
	
	
