<!DOCTYPE html>
<html>

	<head>
  		<meta charset="UTF-8">
		<title>Movie and TV Show random generator</title>
    	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- Other Style Sheets -->
		<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
    	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>

	<body style="background-color: black">

		<div>
			<h1 style="color: white" class="text-center font-weight-light">Tell us what you're interested in</h1>
		</div>

		<div>
			<div class="center" style="text-align: center;">
			   	<a href="/movie" onclick="setMovie()"><img src="https://i.imgur.com/FXWFWHA.png" HEIGHT="30%" WIDTH="30%" onmouseover="this.src='https://i.imgur.com/hc4CuEX.png'" onmouseout="this.src='https://i.imgur.com/FXWFWHA.png'"></a>
			   	<a href="/tv" onclick="setTV()"><img src="https://i.imgur.com/6CvMUXQ.png" HEIGHT="30%" WIDTH="30%" onmouseover="this.src='https://i.imgur.com/VjyTE0g.png'" onmouseout="this.src='https://i.imgur.com/6CvMUXQ.png'"></a>	
			</div>

			<div>
				<footer style="text-align:center; color: white">
					<p>
						<a href="/" style="text-decoration:none">Home</a> |
						<a href="/about" style="text-decoration:none">About</a>
					</p>
				</footer>
			</div>

		</div>

		<script type="text/javascript" src="../static/js/script.js"></script>

	</body>

</html>
	
