<!DOCTYPE html>
<html>
//Head
	<head>
  		<meta charset="UTF-8">
    	<title>Movie and TV Show random generator</title>
    	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
//Body
	<body bgcolor="black">
//Text
		<div>
			<h1 style="color: white"> Welcome! </h1>
			<h2 style="color: white"> Tell us what you're interested in: </h2>
		</div>
//Icons
		<div>
			<div class="center" style="text-align: center;">
			   	<a href="/Movie"><img src="https://i.imgur.com/FXWFWHA.png" HEIGHT="30%" WIDTH="30%" onmouseover="this.src='https://i.imgur.com/hc4CuEX.png'" onmouseout="this.src='https://i.imgur.com/FXWFWHA.png'"></a>
			   	<a href="/tv"><img src="https://i.imgur.com/6CvMUXQ.png" HEIGHT="30%" WIDTH="30%" onmouseover="this.src='https://i.imgur.com/VjyTE0g.png'" onmouseout="this.src='https://i.imgur.com/6CvMUXQ.png'"></a>	
			</div>
//Footer
			<div>
				<footer style="text-align:center; color: white">
					<p>
						<a href="/index" style="text-decoration:none">Home</a> |
						<a href="/about" style="text-decoration:none">About</a>
					</p>
				</footer>
			</div>
//Footer end.
		</div>
	</body>
//End of Body
</html>
	
