<!DOCTYPE html>
<html>
//Head
	<head>
  		<meta charset="UTF-8">
    	<title>Movie and TV Show random generator</title>
    	<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
    	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
//Body
	<body bgcolor="black">
//Text
		<div>
			<h1 style="color: white">Here is a list of movies we found for you:</h1>
		</div>

		<div>
			<div class="center" style="text-align: center;">



			</div>

//Footer
			<div>
				<footer style="text-align:center; color: white">
					<p>
						<a href="/" style="text-decoration:none">Home</a> |
						<a href="/about" style="text-decoration:none">About</a>
					</p>
				</footer>
			</div>
//End of footer	
		</div>
	</body>
//End of Body
</html>