<!DOCTYPE html>
<html>

	<head>
  		<meta charset="UTF-8">
		<title>Movie and TV Show generator</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- Other Style Sheets -->
		<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
    	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	</head>

	<body style="background-color: black">

		<div>
			<h1 style="color: white">Your selection:</h1>
		</div>

	<div>
			<div class="center" style="text-align: center; color: white">

				{% if type == "movie" %}

				<div class="container-fluid text-center">
				<div class="row content">
					<div class="col-sm-2 sidenav">
						<img src="{{image_url}}{{selection.poster_path}}" height="150" width="150">
				</div>
				</div>
				</div><p><h2>{{selection.title}}</h2>
									<br> {{selection.release_date}}
									<br> {{selection.overview }}</p>

				{% else %}

				<div class="container-fluid text-center">
				<div class="row content">
					<div class="col-sm-2 sidenav">
						<img src="{{image_url}}{{selection.poster_path}}" height="150" width="150">
				</div>
				</div>
			</div><p><h2>{{selection.name}}</h2>
									<br> {{selection.release_date}}
									<br> {{selection.overview }}</p>

				{% endif %}

				{% if selection.videos.results[0] is defined %}

				<footer class="container-fluid text-center">
				<iframe width="420" height="315" src="{{youtube_url}}{{selection.videos.results[0].key}}"></iframe>
				</footer>

				{% endif %}

			</div>


			<div>
				<footer style="text-align:center; color: white">
					<p>
						<a href="/" style="text-decoration:none">Home</a> |
						<a href="/about" style="text-decoration:none">About</a>
					</p>
				</footer>
			</div>

		</div>

		<script type="text/javascript" src="../static/js/script.js"></script>

	</body>

</html>
