<!DOCTYPE html>
<html>

//Start of Head
	<head>
  		<meta charset="UTF-8">
    	<title>Movie and TV Show random generator</title>
    	<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
    	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
//End of Head

//Start of Body
	<body bgcolor="black">
//Text
		<div>
			<h1 style="color: white">Please select the type of TV show you'd like to watch:</h1>
		</div>
//Text End
//Start of Icons for Movie Genres
		
			<div class="center" style="text-align: center;">
//When image clicked must produce random tv show suggestion.						
				//Adventure
			   	<a href="/list"><img src="https://i.imgur.com/KmWHQXQ.png" onmouseover="this.src='https://i.imgur.com/oOlPFDS.png'" onmouseout="this.src='https://i.imgur.com/KmWHQXQ.png'"></a>	
			   	//Animation
			   	<a href="/list"><img src="https://i.imgur.com/6Ho4KjZ.png" onmouseover="this.src='https://i.imgur.com/HYlOWvW.png'" onmouseout="this.src='https://i.imgur.com/6Ho4KjZ.png'"></a>	
			   	//Comedy
			   	<a href="/list"><img src="https://i.imgur.com/jQF5Blj.png"  onmouseover="this.src='https://i.imgur.com/t51qzrY.png'" onmouseout="this.src='https://i.imgur.com/jQF5Blj.png'"></a>	
			   	//Drama
			   	<a href="/list"><img src="https://i.imgur.com/dmEnESC.png" onmouseover="this.src='https://i.imgur.com/0aWNdK6.png'" onmouseout="this.src='https://i.imgur.com/dmEnESC.png'"></a>	
			   	//Horror
			   	<a href="/list"><img src="https://i.imgur.com/f4mj2Qm.png" onmouseover="this.src='https://i.imgur.com/T1oEV5I.png'" onmouseout="this.src='https://i.imgur.com/f4mj2Qm.png'"></a>	
			   	//Reality TV
			   	<a href="/list"><img src="https://i.imgur.com/wI7pO2X.png" onmouseover="this.src='https://i.imgur.com/KFDPyat.png'" onmouseout="this.src='https://i.imgur.com/wI7pO2X.png'"></a>	
			   	//Sci-fi
			   	<a href="/list"><img src="https://i.imgur.com/CXVMxo4.png" onmouseover="this.src='https://i.imgur.com/6gfjiZ5.png'" onmouseout="this.src='https://i.imgur.com/CXVMxo4.png'"></a>	
			</div>
//End of icons
//Start of footer
			<div>
				<footer style="text-align:center; color: white">
					<p>
						<a href="/" style="text-decoration:none">Home</a> |
						<a href="/about" style="text-decoration:none">About</a>
					</p>
				</footer>
			</div>
//End of footer	
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/script.js"></script>

	</body>
//End of body
</html>